src/main/mule/fright-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3953e04f-e9d0-453e-926f-dc9ff70b2634" >
		<http:listener-connection host="localhost" port="8071" />
	</http:listener-config>
	<flow name="fright-applicationFlow" doc:id="0eef4fff-63e1-4aa6-b703-8cea810b1b66" >
		<http:listener doc:name="Listener" doc:id="415e784c-f38c-4f68-a75c-ee48138d6189" config-ref="HTTP_Listener_config" path="/infor"/>
		<logger level="INFO" doc:name="Logger" doc:id="6ad98538-634b-42e7-a9ba-607e4772a59f" message="#[payload]"/>
	</flow>
</mule>
